{% extends 'coder/base.html' %}



{% block body %}
<div class="container">
<div class="row">
	<h1>{{news.news_title}}</h1>

	<img src="{{news.news_file.url}}" height="300" width="600">
		
	<h3>{{ news.news_text }}</h3><hr><br><br><br><br>

	
	
<iframe width="560" height="315" src=" 
https://www.youtube.com/embed/IKqKZGgExns" frameborder="0" 
allowfullscreen></iframe>
<hr>

<br>
<br>
<br>




<div class="fb-comments fb_iframe_widget" data-href="http://thecodershub.com/" data-numposts="5" data-width="699" fb-xfbml-state="rendered"></div>	
</div>
</div>		
{% endblock %}
